.drawer
{
  background-color: #1c1c1c;
  height: 100vh;
  left: -20%;
  margin-top: 80px;
  position: fixed;
  top: 0;
  transition: left 0.3s ease;
  width: 20%;
  z-index: 999;
}

.drawer.open
{
  left: 0;
}

.drawer-content
{
  padding: 20px;
}

.genre-title
{
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.genre-grid
{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0.5rem;
}

.genre-item
{
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 12.5px;
  padding: 0.6rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.genre-item.selected
{
  background-color: #e53935;
}

@media (max-width: 767px)
{
  .drawer
  {
    left: -100%;
    width: 100%;
  }

  .genre-grid
  {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
